
.bold {
    font-weight: bold;
}

.font-10 {
    font-size: rpx(10);
}

.font-11 {
    font-size: rpx(11);
}

.font-12 {
    font-size: rpx(12);
}

.font-13 {
    font-size: rpx(13) !important;
}

.font-14 {
    font-size: rpx(14);
}

.font-18 {
    font-size: rpx(18);
}

.font-20 {
    font-size: rpx(20);
}

.font-15 {
    font-size: rpx(15);
}

.font-16 {
    font-size: rpx(16);
}

.color-252 {
    color: $color-252;
}

.color-153 {
    color: $color-153;
}

.color-2547664 {
    color: $color-2547664;
}

.color-102 {
    color: $color-102;
}

.color-666 {
    color: #666;
}

.color-51 {
    color: $color-51;
}

.color-gray {
    color: rgb(51, 51, 51);
}

.text-align {
    text-align: center;
}
