.margin-top-14 {
    margin-top: rpx(14);
}

.margin-top-12 {
    margin-top: rpx(12);
}

.margin-top-20{
    margin-top: rpx(20);
}

.margin-top-10 {
    margin-top: rpx(10);
}

.margin-top-2 {
    margin-top: rpx(2);
}

.margin-top-35 {
    margin-top: rpx(35);
}

.margin-top-3 {
    margin-top: rpx(3);
}

.margin-top-4 {
    margin-top: rpx(4);
}

.margin-top-8 {
    margin-top: rpx(8);
}

.margin-top-6 {
    margin-top: rpx(6);
}

.margin-top-7{
    margin-top: rpx(7);
}

.margin-lr-15 {
    margin: 0 rpx(15);
}

.margin-lr-12 {
    margin: 0 rpx(12);
}

.margin-lr-10 {
    margin: 0 rpx(10);
}
