@charset "UTF-8";
@import "./style/var";
@import "./style/clear";
@import "./style/flex";
@import "./style/font";
@import "./style/fixed";
@import "./style/position";
@import "./style/margin";
// a 组件scss
@import "./a";
// b 组件scss
@import "./b";

image {
    margin: 0 auto;
}

img, view, swiper, swiper-item, page, text {
    box-sizing: border-box;
}

// 页面公有样式 page__item
.page__item {
    letter-spacing: rpx(.8);
    padding: rpx(10) 0;
    border-radius: rpx(4);
    font-weight: 500;
    margin-top: rpx(30);
    &:nth-child(1) {
        margin-top: 0;
    }
}