.bg-color-102 {
    background: $color-102;
}

.bg-color-153 {
    background: $color-153;
}

.bg-color-255 {
    background: #FFF;
}

.bg-color-f3f4f5 {
    background: #F3F4F5;
}

.bg-color-252 {
    background: $color-252;
}

.bg-color-F3F4F5 {
    background-color: #F3F4F5;
}

.bg-color-25476 {
    background-color: rgb(254, 76, 64);
}

.bg-color-6893126 {
    background: $color-716480;
}
