
.bold {
    font-weight: bold;
}

.font-10 {
    font-size: rpx(20);
}

.font-11 {
    font-size: rpx(22);
}

.font-12 {
    font-size: rpx(24);
}

.font-15 {
    font-size: rpx(30);
}

.font-13 {
    font-size: rpx(26) !important;
}

.font-14 {
    font-size: rpx(28);
}

.font-18 {
    font-size: rpx(36);
}

.font-20 {
    font-size: rpx(40);
}

.font-15 {
    font-size: rpx(30);
}

.font-16 {
    font-size: rpx(32);
}

.text-align {
    text-align: center;
}
