
.margin-0{
    margin: 0;
}
.margin-top-28 {
    margin-top: rpx(28);
}

.margin-top-24 {
    margin-top: rpx(24);
}

.margin-top-40 {
    margin-top: rpx(40);
}

.margin-top-8 {
    margin-top: 16px;
}

.margin-top-20 {
    margin-top: rpx(20);
}

.margin-top-36 {
    margin-top: rpx(36);
}

.margin-top-50 {
    margin-top: rpx(50);
}
.margin-top-100 {
    margin-top: rpx(100);
}

.margin-top-4 {
    margin-top: rpx(4);
}

.margin-top-reduce4 {
    margin-top: rpx(-4);
}

.margin-top-70 {
    margin-top: rpx(70);
}

.margin-top-60 {
    margin-top: rpx(60);
}

.margin-top-6 {
    margin-top: rpx(6);
}

.margin-top-8 {
    margin-top: rpx(8);
}

.margin-top-16 {
    margin-top: rpx(16);
}

.margin-top-12 {
    margin-top: rpx(12);
}

.margin-top-14 {
    margin-top: rpx(14);
}

.margin-top-30 {
    margin-top: rpx(30);
}

.margin-r-4 {
    margin-right: rpx(4);
}

.margin-lr-30 {
    margin: 0 rpx(30);
}

.margin-lr-24 {
    margin: 0 rpx(24);
}

.margin-lr-20 {
    margin: 0 rpx(20);
}

.margin-lr-40 {
    margin: 0 rpx(40);
}

.margin-r-20 {
    margin-right: rpx(20);
}
.margin-r-30 {
    margin-right: rpx(30);
}

.margin-l-20 {
    margin-left: rpx(20);
}

.margin-l-24 {
    margin-left: rpx(24);
}
.margin-l-12 {
    margin-left: rpx(12);
}
