.position-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.position-relative {
    position: relative;
}

.position-horizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.position-fixed-center {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.position-top-right{
    position: absolute;
    top: 0;
    right: 0;
}