module.exports = {

    /**
     * 保留小数点后两位
     * @param num
     * @returns {number}
     */
    parseInt2: function (num) {
        return Math.floor(num) / 100
    },

    /**
     * 获取字符串前几位
     */
    substrIndex: function (str, start, end) {
        return str.substring(start, end)
    },
};